
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script src = "static/test.js" type="text/javascript", charset="utf-8"> </script>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
</head>

<body style="width:100%; height:400%; ;">
    <h1 align="center" > UE4-GRpc Test</h1>
    <hr color="pink">
    <div name="prepare" style="width:100%;">
        <div name="action_template" style="width:50%; float:left;">
            <input type="button" onclick="fastaction()" id='gen_template_action_button' value="生成动作模板">
            <div id='template_actions'> </div>
        </div>
        <form name="myForm" style="width:50%;  float:right;"> 输入地址 
            <input type="text" size="10" style="font-family:Consolas;font-size:16" name="host" value="127.0.0.1">
            <input type="text" size="6"  style="font-family:Consolas;font-size:16" name="port" value="50051">
            <input type="button" onclick="tconnect(host, port)" id="conn_button" value="连接">
            <input type="button" onclick="tdisconnect()" id='disconn_button' disabled=1 value="断开">
        </form>


    </div>
    <br><br><br>
    <div class="cell">
        <form name="myForm2" style="width:100% ">  
            <div name="uerequest"  style="width:50%; float:left;"> 
                <span>Request </span> 
                <input type="button"  onclick="tfunc(jsrequest)" value="提交"> </input> 
                <input type="button"  onclick="clear_in()" value="清空"> </input> 
                <br>
                <textarea type="text" style="font-family:Consolas;font-size:20;height:200px;width:80%;word-break:break-all" id='input' size="40" name="jsrequest"> </textarea>
            </div>
            <div name="ueresponse" style="width:50%; float:right;"> 
                <span>Response </span> 
                <input type="button"  onclick="clear_out()" value="清空"> </input> 
                <br>
                <!-- <textarea type='text' style = "font-family:Consolas;font-size:20;height:200px;width:80%;word-break:break-all;" id='output'>  </textarea> -->
                <pre type='text' style = "font-family:Consolas;font-size:20;height:200px;width:80%;word-break:break-all;" id='output'>  </pre>
            </div>
        </form>
    </div>
 
</body>


